In [1]:
# 6031
n = int(input())# 65 -> A
print(chr(n))

 65

A

In [2]:
# 6032 정수 부호를 바꿔 출력한다.
n = int(input()) # -1 -> 1
print(-n)

 -1

1

In [4]:
# 6033 문자 1개 입력받아 다음 문자 출력
n = int(ord(input()))+1 # a -> b
print(chr(n))

 a

b

In [5]:
# 6034 정수 2개 입력받아 차 계산
a, b = map(int, input().split()) #  123 -123 -> 246
print(a-b)

 123 -123

246

In [8]:
# 6035 실수 2개 입력받아 곱 계산
a, b = map(float, input().split()) # 0.5 2.0 -> 1.0
print(a*b)

 0.5 0.2

0.1

In [10]:
# 6036 단어 여러 번 출력
w, n = input().split() # love 3 -> lovelovelove
print(w*int(n))

 love 3

lovelovelove

In [11]:
# 6037 문장 여러 번 출력
n = input() # 3
s = input() # I love CS -> I love CSI love CSI love CS
print(s*int(n))

 3
 I love CS

I love CSI love CSI love CS

In [12]:
# 6038 정수 2개 입력받아 거듭제곱 계산
a,b = map(int, input().split()) #  2 10 -> 1024
print(a**b)

 2 10

1024

In [13]:
# 6039 실수 2개 입력받아 거듭제곱 계산
a,b = map(float, input().split())
print(a**b)

 4.0 2.0

16.0

In [15]:
# 6040 정수 2개 입력받아 나눈 몫 계산
a,b = map(int, input().split())
print(a//b)

 10 3

3

In [16]:
# 6041 정수 2개 입력받아 나눈 나머지 계산
a,b = map(int, input().split())
print(a%b)

 10 3

1

In [18]:
# 6042 실수 1개 입력받아 소숫점이하 자리 변환
n = float(input())
print(format(n, ".2f"))

 3.141592

3.14

In [25]:
# 6043 실수 2개 입력받아 나눈 결과 계산
a,b = map(float, input().split())
n = "{0:.3f}".format(a/b)
print(n)

 10.0 3.0

3.333

In [28]:
# 6044 정수 2개 입력받아 자동 계산
a,b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(format(a/b,".2f"))

 10 3

13
7
30
3
1
3.33

In [35]:
# 6045 정수 3개 입력받아 합과 평균 출력
a, b, c = map(int, input().split())
print(a+b+c, format((a+b+c)/3, ".2f"))

 1 2 3

6 2.00

In [36]:
# 6046 정수 1개 입력받아 2배 곱해 출력
print(int(input())*2)

 1024

2048

In [37]:
# 6047 2의 거듭제곱 배로 곱해 출력
a,b = map(int, input().split())
print(a*(2**b))

 1 3

8

In [38]:
# 6048 정수 2개 입력받아 비교
a,b = map(int, input().split())
if a<b: print("True")
else: print("False")

 1 9

True

In [39]:
# 6049 정수 2개 입력받아 비교
a,b = map(int, input().split())
if a==b:print("True")
else:print("False")

 0 0

True

In [40]:
# 6050 정수 2개 입력받아 비교
a,b = map(int, input().split())
if b >= a: print("True")
else: print("False")

 0 -1

False

In [41]:
# 6051 정수 2개 입력받아 비교
a,b = map(int, input().split())
if a != b: print("True")
else: print("False")

 0 1

True

In [42]:
# 6052 정수 입력받아 참 거짓 평가
n = int(input())
print(bool(n))

 1

True

In [43]:
# 6053 참 거짓 바꾸기
n = bool(int(input()))
print(not n)

 1

False

In [46]:
# 6054 둘 다 참일 경우만 참 출력
a,b = map(int, input().split())
print((bool(a) and bool(b)))

 1 1

True

In [47]:
# 6055 하나라도 참이면 참 출력
a,b = map(int, input().split())
print((bool(a) or bool(b)))

 1 0

True

In [49]:
# 6056 참/거짓이 서로 다를 때에만 참 출력
a,b = map(int, input().split())
if bool(a) != bool(b): print("True")
else: print("False")

 1 1

False

In [50]:
# 6058 둘 다 거짓일 경우만 참 출력
a,b = map(int, input().split())
if (bool(a)==False) and (bool(b)==False): print('True')
else:print("False")

 0 0

True

In [52]:
# 6059 비트단위로 NOT 하여 출력
'''
비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
'''
n = int(input())
n = ~n
print(n)

 2

-3

In [54]:
# 6060 비트단위로 AND 하여 출력
a,b = map(int, input().split())
print(a&b)

 3 5

1

In [55]:
# 6061 비트단위로 OR 하여 출력
a,b = map(int, input().split())
print(a|b)

 3 5

7

In [56]:
# 6062 비트단위로 XOR 하여 출력
a,b = map(int, input().split())
print(a^b)

 3 5

6

In [58]:
# 6063 정수 2개 입력받아 큰 값 출력
a,b = map(int, input().split())
print(max(a,b))

 123 456

456

In [59]:
# 6064 정수 3개 입력받아 가장 작은 값 출력
a,b,c = map(int, input().split())
print(min(a,b,c))

 3 -1 5

-1

In [61]:
# 6065 정수 3개 입력받아 짝수만 출력
a,b,c = map(int, input().split())
if a%2 == 0: print(a)
if b%2 == 0: print(b)
if c%2 == 0: print(c)

 1 2 4

2
4

In [63]:
# 6066 정수 3개 입력받아 짝/홀 출력
a,b,c = map(int, input().split())
if a%2 == 0: print("even") 
else: print("odd")
if b%2 == 0: print("even")
else: print("odd")
if c%2 == 0: print("even") 
else: print("odd")

 1 2 8

odd
even
even

In [65]:
# 6067 정수 1개 입력받아 분류
n = int(input())
if n < 0:
    if n%2 == 0: print('A')
    else: print('B')
else:
    if n%2 == 0: print('C')
    else: print('D')

 -2147483648

A

In [66]:
# 6068 점수 입력받아 평가 출력
n = int(input())

if n>=90: print('A')
elif n>=70: print('B')
elif n>=40: print('C')
else: print('D')

 73

B

In [67]:
# 6069 평가 입력받아 다르게 출력
n = input()
if n == 'A': print('best!!!')
elif n=='B': print('good!!')
elif n=='C': print('run!')
elif n =='D': print('slowly~')
else: print("what?")

 A

best!!!

In [69]:
# 6070 월 입력받아 계절 출력
n = int(input())
# if n in [12, 1, 2]: print('winter')
# elif n in [3, 4, 5]: print('spring')
# elif n in [6, 7, 8]: print('summer')
# elif n in [9, 10, 11]: print('fall')


if n//3==1: print('spring')
elif n//3==2: print('summer')
elif n//3==3: print('fall')
else: print('winter')

 12

winter