In [16]:
# 6086 거기까지! 이제 그만
'''
순서대로 계속 더해 합을 만드는데,
그 합이 입력한 정수보다 작을 동안만 계속 더하는 프로그램
'''
n = int(input())
cnt,num = 0,0
while True:
    if cnt >= n:
        break
    num +=1
    cnt+=num
print(cnt)

 1

1

In [18]:
# 6087 3의 배수는 통과
'''
1부터 입력한 정수까지 1씩 증가시켜 출력하는 프로그램을 작성하되,
3의 배수인 경우는 출력하지 않도록 
'''
n = int(input())
cnt = 1
while cnt <= n:
    if cnt%3==0:
        cnt +=1
        continue
    print(cnt)
    cnt +=1

 10

1
2
4
5
7
8
10

In [19]:
# 6088 수 나열하기1 등차수열
'''
시작 값(a), 등차(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때
n번째 수를 출력하는 프로그램
'''
a,d,n = map(int, input().split())
for i in range(1,n):
    a+=d
print(a)

 1 3 5

13

In [21]:
# 6089 수 나열하기2 등비수열
'''
시작 값(a), 등비(r), 몇 번째인지를 나타내는 정수(n)가 입력될 때
n번째 수를 출력하는 프로그램
'''
a,r,n = map(int, input().split())
for i in range(1,n):
    a*=r
print(a)

 2 3 7

1458

In [22]:
# 6090 수 나열하기3
'''
시작 값(a), 곱할 값(m), 더할 값(d), 몇 번째인지를 나타내는 정수(n)
'''
a,m, d,n = map(int, input().split())
for i in range(1,n):
    a*=m
    a+=d
print(a)

 1 -2 1 8

-85

In [25]:
# 6091 함께 문제 푸는 날 실시간 채점 정보
'''
같은 날 동시에 가입한 3명의 사람들이 온라인 채점시스템에 들어와 문제를 푸는 날짜가
매우 규칙적이라고 할 때, 다시 모두 함께 문제를 풀게 되는 그날
'''

a,b,c = map(int, input().split())
d = 0
m = min(a,b,c)
while True:
    d+=m
    if (d%a==0) and (d%b==0) and (d%c==0):
        print(d)
        break
    else:
        pass

 3 7 9

63

In [33]:
# 6092 이상한 출석 번호 부르기1
'''
출석 번호를 n번 무작위로 불렀을 때, 각 번호(1 ~ 23)가 불린 횟수
'''
n = int(input())
nums = list(map(int, input().split()))
dic = {}
for i in range(1,24):
    dic[i]=0
for i in nums:
    dic[i]+=1
for i in dic.values():
    print(i,end=' ')

 10
 1 3 2 2 5 6 7 4 5 9

1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [43]:
# 6093 이상한 출석 번호 부르기2
'''
출석 번호를 n번 무작위로 불렀을 때, 부른 번호를 거꾸로 출력
'''
n = int(input())+1
num = list(input().split())
for i in range(-1,-n,-1):
    print(num[i], end=' ')

 10
 10 4 2 3 6 6 7 9 8 5

5 8 9 7 6 6 3 2 4 10

In [51]:
# 6094 이상한 출석 번호 부르기3
'''
출석 번호를 n번 무작위로 불렀을 때, 가장 빠른 번호를 출력
'''
n = int(input())
nums = [int(i) for i in input().split()]
# print(min(nums))
ans = nums[0]
for i in nums[1:]:
    if ans <= i:
        continue
    else: ans=i
print(ans)

 10
 10 4 2 3 6 6 7 9 8 5

2

In [67]:
g = [[0]*19]*19

In [69]:
g[0][0] = 1

In [70]:
g

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [73]:
# 6095 바둑판에 흰 돌 놓기
'''
바둑판(19 * 19)에 n개의 흰 돌을 놓는다고 할 때,
n개의 흰 돌이 놓인 위치를 출력하는 프로그램
'''
g = [[0]*19 for i in range(19)]

n = int(input())
for i in range(n):
    x,y = map(int, input().split())
    g[x-1][y-1] = 1

for i in g:
    for j in i:
        print(j,end=' ')
    print('\f')

 5
 1 1
 2 2
 3 3
 4 4
 5 5

1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0